@layer theme, base, antd, components, utilities;
@import "tailwindcss";
@plugin "daisyui";




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  appearance: textfield;
}
.input:focus-within, .select:focus-within{
  outline: none;
}

